<div class="main-container p-40">
    <div class="create-task-container">
        <h2 class="title">SING UP</h2>
        <mat-card class="p-40" *ngIf="singUpForm">
            <div [formGroup]="singUpForm">
                <div class="row d-flex align-items-center">
                    <div class="col-md-6">
                        <mat-label class="label">Email</mat-label>
                        <mat-form-field appearance="outline" class="w-100">
                            <input matInput placeholder="xyz@gmail.com" formControlName="email" autocomplete="off">
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-label class="label">Password</mat-label>
                        <mat-form-field appearance="outline" class="w-100">
                            <input matInput formControlName="password" placeholder="Password" autocomplete="off">
                        </mat-form-field>   
                    </div>
                </div>
               
            </div>
            
            <div class="form-row">
                <button type="button" class="btn" (click)="signUp()">SING UP</button>
            </div>
        </mat-card>
    </div>
</div>
