
h2 {
    color: #999;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: .05em;
}

.section {
    margin: 40px 0;
}

.mat-card {
    margin: 10px 0;
    box-shadow: none;
    border: 1px solid lightgray;
}

