<div class="" style="margin: 20px 0;">
    <div class="section">
        <h2>TO DO</h2>
        <div>
            <mat-card>New task created</mat-card>
            <mat-card>New task created</mat-card>
            <mat-card>New task created</mat-card>
            <mat-card>New task created</mat-card>
        </div>
    </div>
    <div class="section">
        <h2>COMPLETE</h2>
        <div>
            <mat-card>New task created</mat-card>
            <mat-card>New task created</mat-card>
            <mat-card>New task created</mat-card>
            <mat-card>New task created</mat-card>
        </div>
    </div>
    <div class="section">
        <h2>INCOMPLETE</h2>
        <div>
            <mat-card>New task created</mat-card>
            <mat-card>New task created</mat-card>
            <mat-card>New task created</mat-card>
            <mat-card>New task created</mat-card>
        </div>
    </div>
</div>