<div class="" style="margin: 20px 0;">
    <div class="section">
        <h2>TO DO</h2>
        <div>
            <mat-card>
                <div class="d-flex align-items-center">
                    <div class="actions d-flex">
                        <span class="material-icons" id="check">check</span>
                        <span class="material-icons" id="delete">clear</span>
                        <span class="material-icons" id="edit">edit</span>
                        <span class="material-icons" id="delete">delete_outline</span>
                    </div>
                    <div class="content">
                        <p style="margin-bottom: 10px;">New task created New task createdNew task createdNew task createdNew task createdNew task createdNew task createdNew task createdNew task createdNew task created</p>
                        <span style="color: lightgray;">Description: This is the description checking the UI how it look</span>
                    </div>
                    
                    <div class="date-section">
                        <p class="text-danger" style="margin-bottom: 0;">Saturday 21st April</p>
                    </div>
                </div>
            </mat-card>
            <mat-card>
                <div class="d-flex align-items-center">
                    <div class="actions d-flex">
                        <span class="material-icons">check</span>
                        <span class="material-icons">clear</span>
                        <span class="material-icons">edit</span>
                        <span class="material-icons">delete_outline</span>
                    </div>
                    <div class="content">
                        <p style="margin-bottom: 8px;">New task created New task c</p>
                        <span style="color: lightgray;">Description: This is the description checking the UI how it look</span>
                    </div>
                    
                    <div class="date-section">
                        <p>Saturday 21st April</p>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
    <div class="section">
        <h2>COMPLETE</h2>
        <div>
            <mat-card>
                <div class="d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                        <div class="actions d-flex">
                            <span class="material-icons">check</span>
                            <span class="material-icons">clear</span>
                            <span class="material-icons">edit</span>
                            <span class="material-icons">delete_outline</span>
                        </div>
                        <div class="content">
                            <p>New task created New task c</p>
                        </div>
                    </div>
                    
                    <div class="date-section d-flex justify-content-end">
                        <p>Saturday 21st April</p>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
    <div class="section">
        <h2>INCOMPLETE</h2>
        <div>
            <mat-card>
                <div class="d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                        <div class="actions d-flex">
                            <span class="material-icons">check</span>
                            <span class="material-icons">clear</span>
                            <span class="material-icons">edit</span>
                            <span class="material-icons">delete_outline</span>
                        </div>
                        <div class="content">
                            <p>New task created New task createdNew task createdNew task createdNew task createdNew task createdNew task createdNew task createdNew task createdNew task created</p>
                        </div>
                    </div>
                    
                    <div class="date-section d-flex justify-content-end">
                        <p class="text-danger">Saturday 21st April</p>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>