<div class="nav-container" *ngIf="isUserLoggedIn !== undefined">
    <div class="top-section">
        <a class="cursor-pointer decorations-none" routerLink="../"><h1 class="logo">GalliList</h1></a>
    </div>
    <ng-container *ngIf="isUserLoggedIn">
        <div class="middle-section" *ngIf="taskLists$ | async as taskLists">
            <div class="mv-15" [class.active]="activeListIdentifier == ''"><a class="" routerLink="/tasks">All</a></div>
            <div class="d-flex align-items-center justify-content-between mv-15" *ngFor="let list of taskLists" [class.active]="list.identifier === activeListIdentifier">
                <a class="text-truncate-1" [matTooltip]="list.title" routerLink="/lists/{{list.identifier}}">{{list.title}}</a>
                <mat-icon class="delete-icon" (click)="removeTaskList(list.identifier)">delete</mat-icon>
            </div>
            <div class="mt-30" [class.active]="activeListIdentifier == undefined">
                <a routerLink="/new-list" class="d-flex align-items-center">
                    <span class="material-icons m">add</span>
                    <p class="ml-10 mb-0">Create New List</p>
                </a>                
            </div>
        </div>
        <div class="bottom-section d-flex flex-column">
            <div class="mb-20 d-flex flex-column">
                <!-- <a class="cursor-pointer">Setting</a> -->
                <a class="cursor-pointer" (click)="singOut()">Logout</a>
            </div>
            <div class="d-flex align-items-center">
                <span class="material-icons font-size-16 mr-5">copyright</span>
                <p class="font-size-12" style="margin-bottom: 0;">2021 Anand Galla. All rights reserved.</p>
            </div>
            
        </div>
    </ng-container>
    <ng-container *ngIf="!isUserLoggedIn">
        <div class="action-section">
            <div class="d-flex flex-column">
                <a class="cursor-pointer" routerLink="/login">Log In</a>
                <a class="cursor-pointer" routerLink="/signup">Sign Up</a>
            </div>
        </div>
    </ng-container>
</div>