<div class="" style="margin: 20px 0;">
    <div class="section" *ngIf="toDoTasks?.length">
        <h2>TO DO</h2>
        <div>
            <mat-card *ngFor="let task of toDoTasks; let index = index">
                <div class="d-flex align-items-center">
                    <div class="actions d-flex">
                        <span class="material-icons" matTooltip="Complete" id="check" (click)="updateTaskStatus(task, taskStatus.Complete)">check</span>
                        <span class="material-icons" matTooltip="In Complete" id="clear" (click)="updateTaskStatus(task, taskStatus.InComplete)">clear</span>
                        <a class="cursor-pointer edit-icon" matTooltip="Edit" routerLink="/tasks/edit/{{task.identifier}}"><span class="material-icons" id="edit" >edit</span></a>
                        <span class="material-icons" matTooltip="Delete" id="delete" (click)="removeTask(task)">delete_outline</span>
                    </div>
                    <div class="content">
                        <p [class.mb-5]="task.description?.length" class="text-truncate-2">{{task.title}}</p>
                        <span *ngIf="task.description?.length" style="color: lightgray;">Description: {{task.description}}</span>
                    </div>
                    
                    <div class="date-section">
                        <p style="margin-bottom: 0;">{{task.date | date : 'EEEE, MMMM d'}}</p>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
    <div class="section" *ngIf="completedTasks && completedTasks.length">
        <h2>COMPLETE</h2>
        <div class="complete">
            <mat-card *ngFor="let task of completedTasks; let index = index" class="border-green">
                <div class="d-flex align-items-center">
                    <div class="actions d-flex">
                        <span class="material-icons border-green color-green"  matTooltip="Complete" id="check"  (click)="updateTaskStatus(task, taskStatus.Complete)">check</span>
                        <span class="material-icons" matTooltip="In Complete" id="clear" (click)="updateTaskStatus(task, taskStatus.InComplete)">clear</span>
                        <a class="cursor-pointer edit-icon"  matTooltip="Edit" routerLink="/tasks/edit/{{task.identifier}}"><span class="material-icons" id="edit" >edit</span></a>
                        <span class="material-icons" matTooltip="Delete" id="delete" (click)="removeTask(task)">delete_outline</span>
                    </div>
                    <div class="content">
                        <p [class.mb-5]="task.description?.length" class="text-truncate-2">{{task.title}}</p>
                        <span *ngIf="task.description?.length" style="color: lightgray;">Description: {{task.description}}</span>
                    </div>
                    
                    <div class="date-section">
                        <p style="margin-bottom: 0;">{{task.date | date : 'EEEE, MMMM d'}}</p>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
    <div class="section" *ngIf="inCompleteTasks?.length">
        <h2>INCOMPLETE</h2>
        <div class="incomplete">
            <mat-card *ngFor="let task of inCompleteTasks; let index = index">
                <div class="d-flex align-items-center">
                    <div class="actions d-flex incomplete">
                        <span class="material-icons"  matTooltip="Complete" id="check" (click)="updateTaskStatus(task, taskStatus.Complete)">check</span>
                        <span class="material-icons border-red color-red" matTooltip="In Complete" id="clear" (click)="updateTaskStatus(task, taskStatus.InComplete)">clear</span>
                        <a class="cursor-pointer edit-icon" matTooltip="Edit" routerLink="/edit/task/{{task.identifier}}"><span class="material-icons" id="edit" >edit</span></a>
                        <span class="material-icons" matTooltip="Delete" id="delete" (click)="removeTask(task)">delete_outline</span>
                    </div>
                    <div class="content">
                        <p [class.mb-5]="task.description?.length" class="text-truncate-2" [title]="task.title">{{task.title}}</p>
                        <span *ngIf="task.description?.length" style="color: lightgray;">Description: {{task.description}}</span>
                    </div>
                    
                    <div class="date-section">
                        <p style="margin-bottom: 0;">{{task.date | date : 'EEEE, MMMM d'}}</p>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>