.create-task-container {
 
}

.title {
    color: #999;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: .05em;
}

.label {
    font-size: 18px;
    font-weight: 500;
    color: #555;
    margin-bottom: 10px;
}

.btn {
    background-color: #4bc18b; 
    font-size: 15px;
    font-weight: 700;
    line-height: normal;
    color: #fff;
    padding: 13px 26px;
}